<div>
    <img src="./assets/imagenes/banner yes or yes 2.png" width="100%">
</div>
<br>
<h1>Juegos del momento</h1>
<mat-grid-list cols="4" rowHeight="1:1.5">
    <mat-grid-tile *ngFor="let dest of destacados">
        <mat-card class="example-card">
            <mat-card-header style="background-color: black;">
                <mat-card-title style="font-family: 'PT Sans', sans-serif; font-size: 20px; font-weight: bold;">{{dest.nombre}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="dest.img" width="320px">
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>